<header>
  <nav class="nav-bar">
    <ul class="nav-container">
    <% for(let link of links) {%>
        <% if(link.linkName != pageName){ %>
          <li class="nav-item"><a href="./<%=link.linkURL %>"><%= link.linkName %></a></li>
        <%}%>
    <% } %>
    </ul>
  </nav>
</header>